html {
  background: teal;
}

h1 {
  font-family: 'Share Tech Mono', monospace;
  color: white;
  margin: auto;
  text-align: center;
  padding: 15px;
}

.text {
  font-family: 'Share Tech Mono', monospace;
  text-align: center;
  color: black;
  font-size: 10px;
  padding: 0px;
}

#display {
  font-family: 'Share Tech Mono', monospace;
  text-align: center;
  font-size: 25px;
  margin-right: auto;
  margin-left: auto;
  /*margin-bottom: auto;*/
  color: red;
}

#h1-simon {
  font-family: 'Alfa Slab One', monospace;
  color: black;
  margin: auto;
  text-align: center;
  padding: 20px;
}

h5 {
  font-family: 'Share Tech Mono', monospace;
  color: black;
  margin: auto;
  text-align: center;
  padding: 0px;
}

button {
  text-decoration: none;
  border: none;
}

button:focus {
  outline:0;
}

#strict-btn {
  width: 30px;
  height: 30px;
  -moz-border-radius: 15px;
	-webkit-border-radius: 15px;
	border-radius: 15px;
  background: #FFEB3B;
  border: solid black 2px;
  box-shadow: 1px 1px #888888;
  z-index: 20;
}

#start-btn {
  width: 30px;
  height: 30px;
  -moz-border-radius: 15px;
	-webkit-border-radius: 15px;
	border-radius: 15px;
  background: #F44336;
  border: solid black 2px;
  box-shadow: 1px 1px #888888;
  z-index: 20;
}

#display {
  width: 50px;
  height: 30px;
  background: black;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  box-shadow: 1px 1px #888888;
}

#wrapper {
  z-index: 30;
  display: grid;
  color: black;
  margin-top: auto;
  margin-bottom: auto;
  grid-template-columns: 50px 30px 30px;
  grid-template-rows: 30px 30px;
  grid-gap: 8px 22.5px;
  margin-left: 10px;
  margin-top: 0px;
}

#outer-circle {
  width: 450px;
  height: 450px;
  background: #5c5c5c;
  -moz-border-radius: 225px;
	-webkit-border-radius: 225px;
	border-radius: 225px;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0.5px 0.5px 0.5px 0.5px black;
}

#inner-black-circle {
  width: 200px;
  height: 200px;
  background: #5c5c5c;
  z-index: 10;
  position: relative;
  top: -270px;
  -moz-border-radius: 100px;
	-webkit-border-radius: 100px;
	border-radius: 100px;
  margin-left: auto;
  margin-right: auto;
}

#inner-white-circle {
  width: 180px;
  height: 180px;
  background: white;
  z-index: 20;
  position: relative;
  top: 10px;
  -moz-border-radius: 90px;
	-webkit-border-radius: 90px;
	border-radius: 90px;
  margin-left: auto;
  margin-right: auto;
}

#arc-one {
  width: 195px;
  height: 195px;
  background: #D50000;
  border-radius: 0px 195px 0px 0px;
  position: relative;
  top: 20px;
  left: 235px;
}

.arc-one-light {
  background: #F44336 !important;
}

#arc-two {
  width: 195px;
  height: 195px;
  background:  #0D47A1;
  border-radius: 0px 0px 195px 0px;
  position: relative;
  top: 235px;
  left: 36px;
}

.arc-two-light {
  background: #304FFE !important;
}

#arc-three {
  width: 195px;
  height: 195px;
  background: #FFEA00;
  border-radius: 0px 0px 0px 195px;
  position: relative;
  top: 37.5px;
  left: 20px;
}

.arc-three-light {
  background: #FFF176 !important;
}

#arc-four {
  width: 195px;
  height: 195px;
  background: #4CAF50;
  border-radius: 195px 0px 0px 0px;
  position: relative;
  top: -177px;
  left: -180px;
}

.arc-four-light {
  background: #8BC34A !important;
}
