html {
  background: teal;
}

h1 {
  font-family: 'Share Tech Mono', monospace;
  color: white;
  margin: auto;
  text-align: center;
  padding: 15px;
}

h2 {
  font-family: 'Share Tech Mono', monospace;
  color: black;
  margin: auto;
  text-align: center;
  padding: 15px;
}

button {
  text-decoration: none;
  border: none;
}

button:focus {
  outline:0;
}

#outer-circle {
  width: 450px;
  height: 450px;
  background: grey;
  -moz-border-radius: 225px;
	-webkit-border-radius: 225px;
	border-radius: 225px;
  margin-left: auto;
  margin-right: auto;
}

#inner-black-circle {
  width: 200px;
  height: 200px;
  background: grey;
  z-index: 10;
  position: relative;
  top: -270px;
  -moz-border-radius: 100px;
	-webkit-border-radius: 100px;
	border-radius: 100px;
  margin-left: auto;
  margin-right: auto;
}

#inner-white-circle {
  width: 180px;
  height: 180px;
  background: white;
  z-index: 20;
  position: relative;
  top: 10px;
  -moz-border-radius: 90px;
	-webkit-border-radius: 90px;
	border-radius: 90px;
  margin-left: auto;
  margin-right: auto;
}

#arc-one {
  width: 195px;
  height: 195px;
  background: #F44336;
  border-radius: 0px 195px 0px 0px;
  position: relative;
  top: 20px;
  left: 235px;
}

#arc-two {
  width: 195px;
  height: 195px;
  background:  #0D47A1;
  border-radius: 0px 0px 195px 0px;
  position: relative;
  top: 235px;
  left: 36px;
}

#arc-three {
  width: 195px;
  height: 195px;
  background: #FFEB3B;
  border-radius: 0px 0px 0px 195px;
  position: relative;
  top: 37.5px;
  left: 20px;
}

#arc-four {
  width: 195px;
  height: 195px;
  background: #8BC34A;
  border-radius: 195px 0px 0px 0px;
  position: relative;
  top: -177px;
  left: -180px;
}
